body{
    background-color: #222222bd;
}
.Login_container {
    border: 1px solid black;
    max-width: 800px;
    height: 800px;
    margin: 50px auto;
    padding: 20px;
    background-image: url("../../../public/LogIn_Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Login_content {
    text-align: center;
}
.Login_content h1 {
    font-size: 3rem;
    text-shadow: 15px 15px 15px #222;
    color: #fff;
    margin-bottom: 20px;
}
.Login_content input {
    width: 100%;
    height: 40px;
    margin: 12px 0;
    padding: 0 10px;
    box-sizing: border-box;
}
.Login_content input:hover{
    background: rgb(45, 44, 44);
    color: white;
}
.Login_content button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #222;
    box-shadow: 5px 5px 5px #222;
    background: rgb(11, 151, 217);
    transition: background 0.3s;
}
.Login_content button:hover {
    background: #09c498;
    cursor: pointer;
}

/*  Hier passe ich die Google & Apple Buttons an */
.Login_Social{
    margin-top: 50px;
}
.google_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.apple_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.icon {
    margin-right: 10px;
    font-size: 24px;
}