/*  Hier muss das Styling für den Body , Weiß soll es nicht bleiben */
/* Einstellung zum Logo*/
.logo {
    width: 150px;
    border: 1px solid grey;
    border-radius:50%;
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: 70px;
}
.Team_container{
    background: linear-gradient(90deg, rgba(0,235,220,1) 0%, rgba(29,131,253,1) 50%, rgba(16,5,50,1) 100%);;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #222;
}
.headline{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 4rem;
    text-shadow: 10px 10px 10px black;
}
.Content_container{
    display: flex;
    justify-content: space-evenly;   
}
.Content_container h2{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 10px 10px 10px black;
}
.Member_image{
    width: 400px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.5s;
}
.Member_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg); 
    transition: transform 0.5s; 
    backface-visibility: hidden; 
    margin-top: 150px;
}
.Member_info p{
    font-size: 2rem;
    color:#fff;
    text-shadow: 10px 10px 10px black;
}
.Member_info li{
    font-size:2rem;
    color: #fff;
    text-shadow: 10px 10px 10px black;
}
.Member_container:hover .Member_image {
    transform: rotateY(180deg); 
}
.Member_container:hover .Member_info {
    transform: rotateY(0deg);
}

